@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,671;1,14..32,671&family=Montserrat:ital,wght@0,668;1,668&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {

    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  .top-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 350px;
    font-size: 14px;
    
    span {
      text-decoration: underline;
      cursor: pointer;
    }

    .top-links {
      display: flex;
      gap: 15px;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 350px;
    background: #FFFFFF;


    .search {
      display: flex;
      border: 1px solid #FFFFFF;
      background: white;
      
      select{
        padding: 8px;
        width: 130px;
        background-color: #EDEDED;
        position: absolute;
        height: 43px;
        margin: 5px;
        border-radius: 5px;
        border: none;
      }

      option {
        border-radius: 5px;
      }

      input {
        border: solid #EBEBEB;
        padding: 8px;
        outline: none;
        width: 790px;
        height: 53px;
        padding-left: 150px;
        border-radius: 5px;
        color: black;
      }

      .serch-button {
        width: 43px;
        height: 43px;
        position: absolute;
        margin-left: 740px;
        margin-top: 5px;
        background-color: #6EB0EE;
        border: none;
        border-radius: 3px;
      }

      .serch-icon{
        width: 30px;
        height: 30px;
      }

    }

    .headphones-icon {
      height: 40px;
      margin-left: 30px;
    }

    .message-icon {
      width: 40px;
    }

    .cart-icon {
      width: 40px;
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;

      .support {
        display: flex;
        gap: 8px;

        p {
          margin: 0;
          font-size: 12px;
        }

        small {
          color: gray;
        }
      }
    }
  }

  .nav {
    border-top: 1px solid #EBEBEB;
    background-color: #FFFFFF;
    height: 50px;
    border-bottom: 1px solid #EBEBEB;

    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      padding: 10px 20px;
      justify-content: center;


      li {
        cursor: pointer;

        &:hover {
          color: #2d6cdf;
        }
      }
    }
  }
}