* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.route-bar {
  height: 40px;
  border-bottom: solid rgba(0, 0, 0, 0.109) 1px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 18%;

  .home {
    font-size: 15px;
  }
}

.rating {
  margin-left: 18%;
  margin-top: 30px;

  .product-title {
    font-size: 38px;
  }

  .price {
    margin-top: 10px;
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
}

.product-container {
  display: flex;
  gap: 50px;
  margin-left: 18%;
  margin-top: 40px;
  
}

.leptop-slide {
  width: 660px;
  height: 540px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    0 0 15px 5px #aaaaaa5f;
}

.cover {
  width: 630px;
  transition: 0.4s;
}

.product-options {
  width: 350px;
  height: 250px;
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow:
    0 0 15px 5px #aaaaaa30;

  .option-title {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .button-group {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .option-btn {
    width: 140px;
    height: 65px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    

    &:hover {
      border: 1px solid rgb(0, 0, 0);
    }
  }

  .active {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid 1px black ;
  }

  .gray {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 40%;
  }

  .Bronze {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: #D5CCC6;
    margin-left: 40%;
  }
}