.slide-show {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  position: relative;
}

.first-img {
  width: 63%;
  height: 570px;
  border-radius: 20px;
}

.img-info {
  position: absolute;
  padding-right: 35%;
  padding-top: 7%;
  color: white;
}

.img-info.right {
  right: 23%;
  left: auto;
  padding-right: 0;
  text-align: right;
}


h2 {
  font-size: 64px;
}

.text-change {
  font-size: 64px;
  background: linear-gradient(to right, #6FB0FF 0%, #E891FE 100%);
//    -webkit-background-clip: text; 
//    -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: smoothText 0.5s ease;
}

@keyframes smoothText {
  0% {
    transform: translateX(-10px);
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.price {
  font-size: 20px;
  margin-top: 20px;
}

.colored-text {
    text-shadow: 1px 1px 2px #27610A, 0 0 25px lime, 0 0 5px #143406;
}

.buy {
  width: 140px;
  height: 64px;
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid #6fb0ff;
  font-size: 15px;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
